<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7dzLZKi1iIrxk4_gyIjz11oszMTH052s</string>
	<key>GCM_SENDER_ID</key>
	<string>77977059621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wechat</string>
	<key>PROJECT_ID</key>
	<string>wechat-eb13a</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-eb13a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77977059621:ios:09aeebecaf72cba5251acc</string>
	
</dict>
</plist>